---
layout: home
title: home
permalink: /
lang: es
---
     	 <div class="content-container home">
      	 
      		<section class="catchphrase">
      			
      			<header class="stores">
      				<a href="https://itunes.apple.com/fr/app/zenbus/id808231328" target="_blank" class="stores-link appstore">
      					<span class="stores-link-text">Descárgala en</span>
      					<span class="stores-link-brand">App Store</span>
      				</a>
      				<a href="https://play.google.com/store/apps/details?id=com.byjoul.code.zenbus.android" target="_blank" class="stores-link playstore">
      					<span class="stores-link-text">Disponible en</span>
      					<span class="stores-link-brand">Play Store</span>
      				</a>
      			</header>
      			
      			<div class="catchphrase-content">
      				<h1 class="catchphrase-content-title" >Transformar la movilidad</h1>
      				<p class="catchphrase-content-text">
      				Zenbus es una solución sencilla para localizar transporte colectivo. A diario, ayudamos a las colectividades, a los operadores y a los viajeros, gracias a datos de calidad.
                  </p>
      			</div>

               <div class="scroll-indicator">
						<span class="scroll-indicator-animate"></span>
               </div>
      		</section>
      		  
      		  
      		<section id="map" class="map" v-bind:class="{'show-map': isActiveMap}">
      			 <div class="map-tile tile">
      				<h2 class="tile-title">Zenbus cerca de casa</h2>
      				<p class="tile-text">Zenbus cubre actualmente decenas de redes en Francia y cada mes nuevas líneas de autobuses se benefician del servicio. La aplicación comienza a utilizarse progresivamente en el extranjero.</p>
   					<footer class="map-tile-footer">
   						<a href="" class="map-tile-footer-link"></a>
   					</footer>
      			</div>
      			<div class="map-preview">
      			 <button type="button" class="map-preview-button " v-on:click="toggleMap">Ver el mapa de redes</button>
                 	<div class="map-expand">
                    <aside class="filters">
                         <header class="filters-header" v-on:click="showSearchResults = false">
                           <h4 class="filters-header-title">Mapa</h4> 
                           <p class="filters-header-text">Puedes filtrar el mapa por tipología de red</p>
                        </header>
                       
                        <form class="filters-search" v-bind:class="{'show-results': showSearchResults}">
                          
                          <label class="filters-search-label"><span v-if="activeFiltersLabel != ''">Excepto [%activeFiltersLabel%]</span></label>
                           
                            <input type="search" class="filters-search-input"  placeholder="Buscar una red" @focus="showSearchResults = true"  v-model="search">
                        
                           
                           <span class="filters-search-close" v-on:click="showSearchResults = false"></span>
                           <ul id="searchResult" class="filters-search-results">
                              <li v-on:click="searchItemBehaviour(acc)" v-for="acc in searchedAccounts" class="filters-search-results-item">
                                 <img class="account-img" v-bind:src="acc.icon" alt="Logotipo de la red" />
                                 <span class="account-name">[%acc.pageTitle%]</span>
                              </li>
                           </ul>
                              
                        </form>
                        
                        <form class="filters-checkboxes"> 
                           <label class="filters-checkboxes-label">[%filteredAccounts.length%] de(s) disponible(s) en [%filteredCities.length%] ciudade(s)</label>
							<ul>
								<li class="filters-checkboxes-item all" >
									<input type="radio" name="filter" class="map-checkbox"  id="-1" v-bind:value="-1" v-model="checkedFilter">
									<label class="checkbox-label" for="-1">Todos las redes</label>
								</li>
								<li class="filters-checkboxes-item private" >
									<input type="radio" name="filter" class="map-checkbox" id="0" v-bind:value="0" v-model="checkedFilter">
									<label class="checkbox-label" for="0">Privado</label>
								</li>
								<li :class="type.cssClass" class="filters-checkboxes-item" v-for="type in networkTypes" :key="type.value">
									<input type="radio" name="filter" class="map-checkbox" v-bind:id="type.value" v-bind:value="type.value" v-model="checkedFilter">
 									<label v-bind:for="type.value" class="checkbox-label">[% filterLabel(type.value) %]</label>
 								</li>
							</ul>
                        </form> 
                     </aside>
                     <div class="map-container">
                     	<div id="mapContainer"></div>
                        <aside class="map-actions">
                           <button class="map-actions-locateme" v-on:click="locateUser"></button>
                           <button class="map-actions-close" v-on:click="toggleMap"></button>
                        </aside>
                       
                       <div v-if="focusedCity" class="popup show-popup">
                       	<header class="popup-header">
                        		<span class="popup-header-city">[%focusedCity.name%]</span>
                        	</header>
                        	<ul class="popup-networks">
                        		<li v-for="acc in focusedCity.namespaces" v-if="filteredAccounts.indexOf(acc) > -1" class="popup-networks-item">
                        			<span class="network-name">[%acc.pageTitle%]</span>
                        			<ul class="network-types">
                        				<li v-if="acc.pRivate"class="network-types-badge private" title="Privado"></li>
                        				<li v-for="type in networkTypes" v-if="(type.value & acc.types) > 0" class="network-types-badge" v-bind:class="type.cssClass" v-bind:title="filterLabel(type.value)"></li>
                        			</ul>
                        			<aside class="network-redir">
   		                           <a v-if="!acc.pRivate" v-bind:href="'https://zenbus.net/'+acc.namespace" class="network-redir-link" target="_blank"></a>
   		                           <a v-else class="network-redir-link" v-on:click="showPrivateForm = true"></a>
   		                        </aside>
                        		</li>
                        	</ul>
                       </div>
                       
                       
                        <div class="popup" >
                        	<header class="popup-header">
                        		<span class="popup-header-city">Nantes</span>
                        	</header>
                        	
                        	<ul class="popup-networks">
                        		<li class="popup-networks-item">
                        			<span class="network-name">LR 26</span>
                        			<ul class="network-types">
                        			<li class="network-types-badge private" title="Privado"></li>
                                    <li class="network-types-badge urban" title="Urbano"></li>
                                    <li class="network-types-badge interurban" title="Interurbano"></li>
                                    <li class="network-types-badge corporate" title="Empresa"></li>
                                    <li class="network-types-badge scolar" title="Escolar"></li>
                                    <li class="network-types-badge event" title="Eventos"></li>
                                    <li class="network-types-badge audit" title="Auditoría"></li>
                                    <li class="network-types-badge skistation" title="Estación de esquí"></li>
                                    <li class="network-types-badge work" title="Obras"></li>
                        			</ul>
                        			<aside class="network-redir">
                        				<a class="network-redir-link"></a>
                        			</aside>
                        		</li>
                              <li class="popup-networks-item">
                                 <span class="network-name">Nantes Métropole TAN</span>
                                 <ul class="network-types">
                                    <li class="network-types-badge private"></li>
                                    <li class="network-types-badge urban"></li>
                                    <li class="network-types-badge skistation"></li>
                                 </ul>
                                 <aside class="network-redir">
                                    <a class="network-redir-link"></a>
                                 </aside>
                              </li>
                        	</ul>
                        </div>
                          <div class="privatecode" v-bind:class="{'show-privatecode': showPrivateForm}">
                        	<form v-on:submit.prevent="privateFormBehaviour" class="privatecode-form">
                        		<span v-if="errors.map.length" class="privatecode-form-error">¡Código incorrecto!</span>
                        		<label class="privatecode-form-text" for="password">'Código red privada'</label>
                        		<input class="privatecode-form-input" placeholder="Código red privada" type="password" v-model="currentPassword">
                        		<button class="privatecode-form-button">Validar</button>
                         		<button v-on:click.prevent="showPrivateForm = false" class="privatecode-close"></button>
									 </form>
      						</div>
                     </div>
                      
                  </div>
      			</div>
      			 
      		</section>
      		  
      		<section class="vision">
      			
      			<div class="vision-tile tile">
      				<h2 class="tile-title">Facilitar tu día a día</h2>
      				<p class="tile-text">Gracias a sus eficientes algoritmos y a su plataforma Cloud, Zenbus crea y difunde datos útiles para todos los agentes del transporte colectivo.</p>
      			</div>
      			
   				<div class="vision-container">
   					<ul class="vision-container-personas">
   						<li class="persona collectivity">
   							<header class="persona-header">
   								<img src="{{ site.baseurl }}/assets/img/collectivity.png" alt="Collectivité" class="persona-header-img">
   							</header>
   							<div class="persona-content">
   								<h3 class="persona-content-title">Colectividad</h3>
   								<ul class="persona-content-list">
   									<li class="persona-content-list-item">Seguimiento de la oferta</li>
   									<li class="persona-content-list-item">Valoración de la red</li>
   									<li class="persona-content-list-item">Integración simple</li>
   								</ul>
   								<a href="" class="persona-content-link"></a>
   							</div>
   						</li>
   						<li class="persona operator">
   							<header class="persona-header">
   								<img src="{{ site.baseurl }}/assets/img/operator.png" alt="Operador" class="persona-header-img">
   							</header>
   							<div class="persona-content">
   								<h3 class="persona-content-title">Operador</h3>
   								<ul class="persona-content-list">
   									<li class="persona-content-list-item">Seguimiento en tiempo real</li>
   									<li class="persona-content-list-item">Reproducción completa</li>
   									<li class="persona-content-list-item">Datos estadísticos</li>
   								</ul>
   								<a href="" class="persona-content-link"></a>
   							</div>
   						</li>
   						<li class="persona passenger">
   							<header class="persona-header">
   								<img src="{{ site.baseurl }}/assets/img/passenger.png" alt="Viajero" class="persona-header-img">
   							</header>
   							<div class="persona-content">
   								<h3 class="persona-content-title">Viajero</h3>
   								<ul class="persona-content-list">
   									<li class="persona-content-list-item">Visión en tiempo real</li>
   									<li class="persona-content-list-item">Información instantánea</li>
   									<li class="persona-content-list-item">Coordinación facilitada</li>
   								</ul>
   								<a href="" class="persona-content-link"></a>
   							</div>
   						</li>
   						<li class="persona driver">
   							<header class="persona-header">
   								<img src="{{ site.baseurl }}/assets/img/driver.png" alt="Conductor" class="persona-header-img">
   							</header>
   							<div class="persona-content">
   								<h3 class="persona-content-title">Conductor</h3>
   								<ul class="persona-content-list">
   									<li class="persona-content-list-item">Turnos de trabajo simples</li>
   									<li class="persona-content-list-item">Mejor inicio</li>
   									<li class="persona-content-list-item">Coordinación facilitada</li>
   								</ul>
   								<a href="" class="persona-content-link"></a>
   							</div>
   						</li>
   					</ul>
   				</div>
      			
      		</section>
      	
      		<section class="products">
      			
      			<div class="products-tile tile">
      				<h2 class="tile-title">Interfaces adaptadas</h2>
      				<p class="tile-text">Aplicación diferentes con ergonomía pensada para un uso eficaz y sin contratiempos.</p>
     					
     					<footer class="products-tile-footer">
     						<a href="" class="products-tile-footer-link appstore"></a>
     						<a href="" class="products-tile-footer-link playstore"></a>
     					</footer>
      			</div>
      			
      			<div id="dragContainer" class="products-container">
   					<ul class="products-container-showcase">
   						<li class="product app driver">
                        <div class="product-img">
                           <h3 class="product-title">Aplicación Conductor</h3>
                           <p class="product-text">Los conductores se conectan fácilmente a la aplicación Zenbus a través de su smartphone.</p>
                        </div>
   						</li>
   						<li class="product app passenger">
                        <div class="product-img">
                           <h3 class="product-title">Aplicación Viajero</h3>
                           <p class="product-text">La aplicación, accesible a todos y gratuita, permite a los viajeros visualizar los autobuses de manera inédita.</p>
                        </div>
   						</li>
                     <li class="product app tad">
                        <div class="product-img">
                           <h3 class="product-title">TAD</h3>
                           <p class="product-text">¿La línea de autobús se activa bajo petición? ¡Los viajeros podrán reservar su trayecto directamente en Zenbus!</p>
                        </div>
                     </li>
   						<li class="product desktop supervision">
                        <div class="product-img">
                           <h3 class="product-title">Supervisión Live</h3>
                           <p class="product-text">Los operarios disponen de interfaces de supervisión que permiten controlar en tiempo real el estado de la red de transporte y facilitar la toma de decisiones.</p>
                        </div>
                     </li>
                     <li class="product desktop timeline">
                        <div class="product-img">
                           <h3 class="product-title">Supervisión a posteriori</h3>
                           <p class="product-text">Interfaces para analizar y garantizar a posteriori el buen funcionamiento de la oferta de transporte.</p>
                        </div>
                     </li>
   					</ul>
      			</div>
      			
      		</section>
      	
      		<section class="statistics">
      			<div class="statistics-tile tile">
      				<h2 class="tile-title">¿Lo sabías?</h2>
      				<p class="tile-text">Desde su creación, Zenbus recoge numerosos datos de movilidad, aquí te mostramos algunas ilustraciones a veces sorprendentes!
      					<a href="" class="tile-text-link"></a>
      				</p>
      			</div>
      			
      			<div class="statistics-content">
      				<header class="statistics-content-main">
      					<span class="statistics-content-main-title">[% numberWithSpaces(currentKms) %]</span>
      					<span class="statistics-content-main-text">kilómetros recorridos desde el lanzamiento de Zenbus</span>
      				</header>
   					<ul class="statistics-content-others">
   						<li class="stat">
   							<img src="{{ site.baseurl }}/assets/img/stat_flag.png" alt="stat icon" class="stat-img">
   							<span class="stat-metric">[%filteredAccounts.length%]</span>
   							<span class="stat-description">redes mostradas</span>
   						</li>
   						<li class="stat">
   							<img src="{{ site.baseurl }}/assets/img/stat_flag.png" alt="stat icon" class="stat-img">
   							<span class="stat-metric">7737</span>
   							<span class="stat-description">paradas con servicio de transporte</span>
   						</li>
   						<li class="stat">
   							<img src="{{ site.baseurl }}/assets/img/stat_flag.png" alt="stat icon" class="stat-img">
   							<span class="stat-metric">-42<small>%</small></span>
   							<span class="stat-description">problemas evitados</span>
   						</li>
   						<li class="stat">
   							<img src="{{ site.baseurl }}/assets/img/stat_flag.png" alt="stat icon" class="stat-img">
   							<span class="stat-metric">12</span>
   							<span class="stat-description">citas perdidas</span>
   						</li>
   					</ul>
      			</div>
      			
      		</section>

            <!-- PRESS -->
            <section class="press" id="press">
               <div class="press-tile tile">
                  <h2 class="tile-title">Se trata de nosotros</h2>
                  <p class="tile-text">Encuentre en nuestra página de prensa todos los artículos, comunicados de prensa y asuntos de prensa dedicados a nosotros.
                     <a href="{{ site.baseurl }}/press/" class="tile-text-link">Ver todos los artículos</a>
                  </p>
               </div>
               <div class="press-articles">
                  {% assign articles = site.data["press"] | sort: 'published' | reverse %}
                  {% for article in articles limit:6 %}
                     {% include components/press-card.html
                        image=article.image
                        title=article.title
                        paper=article.press
                        published=article.published
                        link=article.link %}
                  
                  {% endfor %}
               </div>
            </section>
            
    			
				</div>