---
layout: home
title: Homepage
permalink: /
lang: fr
---
<div class="content-container home">
<section class="catchphrase">
      			<header class="catchphrase-header">
      				<a href="https://itunes.apple.com/fr/app/zenbus/id808231328" target="_blank" class="catchphrase-header-link appstore">
      					<span class="catchphrase-header-link-text">Télécharger dans</span>
      					<span class="catchphrase-header-link-brand">l'App Store</span>
      				</a>
      				<a href="https://play.google.com/store/apps/details?id=com.byjoul.code.zenbus.android" target="_blank" class="catchphrase-header-link playstore">
      					<span class="catchphrase-header-link-text">Disponible sur</span>
      					<span class="catchphrase-header-link-brand">Play Store</span>
      				</a>
      			</header>
      			<div class="catchphrase-content">
      				<h1 class="catchphrase-content-title" >Transformer la mobilité</h1>
      				<p class="catchphrase-content-text">
      				Zenbus est une solution simple pour localiser les transports collectifs. Au quotidien, nous aidons les collectivités, les exploitants et les voyageurs grâce à des données de qualité.
                  </p>
      			</div>
      		</section><section id="map" class="map" :class="{'show-map':isActiveMap}">
      			 <div class="map-tile tile">
      				<h2 class="tile-title">Zenbus près de chez vous</h2>
      				<p class="tile-text">Zenbus couvre déjà des dizaines de réseaux en France et ce sont chaque mois de nouvelles lignes de bus qui bénéficient du service. L'application se déploie aussi progressivement à l'étranger.</p>
   					<footer class="map-tile-footer">
   						<a href="" class="map-tile-footer-link"></a>
   					</footer>
      			</div>
      			<div class="map-preview">
      			 <button type="button" class="map-preview-button " v-on:click="toggleMap">Voir la carte des réseaux</button>
                 	<div class="map-expand">
                    <aside class="filters">
                         <header class="filters-header" v-on:click="showSearchResults = false">
                           <h4 class="filters-header-title">Carte</h4> 
                           <p class="filters-header-text">Vous pouvez filtrer la carte par typologie de réseau</p>
                        </header>
                        <form class="filters-search" v-bind:class="{'show-results':showSearchResults}">
                          <label class="filters-search-label"><span v-if="activeFiltersLabel != ''">Sauf [%activeFiltersLabel%]</span></label>
                          <input type="search" class="filters-search-input" placeholder="Rechercher un réseau" v-on:focus="showSearchResults = true" v-model="search">
                           <span class="filters-search-close" v-on:click="showSearchResults = false"></span>
                           <ul id="searchResult" class="filters-search-results">
                              <li v-on:click="searchItemBehaviour(acc)" v-for="acc in searchedAccounts" class="filters-search-results-item">
                                 <img class="account-img" v-bind:src="acc.icon" alt="logo du réseau" />
                                 <span class="account-name">[%acc.pageTitle%]</span>
                              </li>
                           </ul>
                        </form>
                        <form class="filters-checkboxes"> 
                           <label class="filters-checkboxes-label">[%filteredAccounts.length%] réseau(x) disponible(s) dans [%filteredCities.length%] ville(s)</label>
							<ul>
								<li class="filters-checkboxes-item all" >
									<input type="radio" name="filter" class="map-checkbox"  id="-1" v-bind:value="-1" v-model="checkedFilter">
									<label class="checkbox-label" for="-1">Tous les réseaux</label>
								</li>
								<li class="filters-checkboxes-item private" >
									<input type="radio" name="filter" class="map-checkbox" id="0" v-bind:value="0" v-model="checkedFilter">
									<label class="checkbox-label" for="0">Privé</label>
								</li>
								<li :class="type.cssClass" class="filters-checkboxes-item" v-for="type in networkTypes" :key="type.value">
									<input type="radio" name="filter" class="map-checkbox" v-bind:id="type.value" v-bind:value="type.value" v-model="checkedFilter">
 									<label v-bind:for="type.value" class="checkbox-label">[% filterLabel(type.value) %]</label>
 								</li>
							</ul>
							  </form>
                     </aside>
                     <div class="map-container">
                     	<div id="mapContainer"></div>
                        <aside class="map-actions">
                           <button class="map-actions-locateme" v-on:click="locateUser"></button>
                           <button class="map-actions-close" v-on:click="toggleMap"></button>
                        </aside>
                       <div v-if="focusedCity" class="popup show-popup">
                       	<header class="popup-header">
                        		<span class="popup-header-city">[%focusedCity.name%]</span>
                        	</header>
                        	<ul class="popup-networks">
                        		<li v-for="acc in focusedCity.namespaces" v-if="filteredAccounts.indexOf(acc) > -1" class="popup-networks-item">
                        			<span class="network-name">[%acc.pageTitle%]</span>
                        			<ul class="network-types">
                        				<li v-if="acc.pRivate"class="network-types-badge private" title="Privé"></li>
                        				<li v-for="type in networkTypes" v-if="(type.value & acc.types) > 0" class="network-types-badge" v-bind:class="type.cssClass" v-bind:title="filterLabel(type.value)"></li>
                        			</ul>
                        			<aside class="network-redir">
   		                           <a v-if="!acc.pRivate" v-bind:href="'https://zenbus.net/'+acc.namespace" class="network-redir-link" target="_blank"></a>
   		                           <a v-else class="network-redir-link" v-on:click="showPrivateForm = true"></a>
   		                        </aside>
                        		</li>
                        	</ul>
                       </div>
                        <div class="popup" >
                        	<header class="popup-header">
                        		<span class="popup-header-city">Nantes</span>
                        	</header>
                        	<ul class="popup-networks">
                        		<li class="popup-networks-item">
                        			<span class="network-name">LR 26</span>
                        			<ul class="network-types">
                        			<li class="network-types-badge private" title="Privé"></li>
                                    <li class="network-types-badge urban" title="Urbain"></li>
                                    <li class="network-types-badge interurban" title="Interurbain"></li>
                                    <li class="network-types-badge corporate" title="Entreprise"></li>
                                    <li class="network-types-badge scolar" title="Scolaire"></li>
                                    <li class="network-types-badge event" title="Evenementiel"></li>
                                    <li class="network-types-badge audit" title="Audit"></li>
                                    <li class="network-types-badge skistation" title="Station de ski"></li>
                                    <li class="network-types-badge work" title="Travaux"></li>
                        			</ul>
                        			<aside class="network-redir">
                        				<a class="network-redir-link"></a>
                        			</aside>
                        		</li>
                              <li class="popup-networks-item">
                                 <span class="network-name">Nantes Métropole TAN</span>
                                 <ul class="network-types">
                                    <li class="network-types-badge private"></li>
                                    <li class="network-types-badge urban"></li>
                                    <li class="network-types-badge skistation"></li>
                                 </ul>
                                 <aside class="network-redir">
                                    <a class="network-redir-link"></a>
                                 </aside>
                              </li>
                        	</ul>
                        </div>
                          <div class="privatecode" v-bind:class="{'show-privatecode': showPrivateForm}">
                        	<form v-on:submit.prevent="privateFormBehaviour" class="privatecode-form">
                        		<span v-if="errors.map.length" class="privatecode-form-error">Code incorrect!</span>
                        		<label class="privatecode-form-text" for="password">Code réseau privé</label>
                        		<input class="privatecode-form-input" placeholder="Code du réseau" type="password" v-model="currentPassword">
                        		<button class="privatecode-form-button">Valider</button>
                         		<button v-on:click.prevent="showPrivateForm = false" class="privatecode-close"></button>
									 </form>
      						</div>
                     </div>
                  </div>
      			</div>
      		</section>
      		<section class="vision">
      			<div class="vision-tile tile">
      				<h2 class="tile-title">Faciliter votre quotidien</h2>
      				<p class="tile-text">Grâce à ses algorithmes performants et sa plate-forme Cloud, Zenbus produit et diffuse des données utiles à tous les acteurs du transport collectif.</p>
      			</div>
   				<div class="vision-container">
   					<ul class="vision-container-personas">
   						<li class="persona collectivity">
   							<header class="persona-header">
   								<img src="{{ site.baseurl }}/assets/img/collectivity.png" alt="Collectivité" class="persona-header-img">
   							</header>
   							<div class="persona-content">
   								<h3 class="persona-content-title">Collectivité</h3>
   								<ul class="persona-content-list">
   									<li class="persona-content-list-item">Suivi de l'offre</li>
   									<li class="persona-content-list-item">Valorisation du réseau</li>
   									<li class="persona-content-list-item">Intégration simple</li>
   								</ul>
   								<a href="" class="persona-content-link"></a>
   							</div>
   						</li>
   						<li class="persona operator">
   							<header class="persona-header">
   								<img src="{{ site.baseurl }}/assets/img/operator.png" alt="Exploitant" class="persona-header-img">
   							</header>
   							<div class="persona-content">
   								<h3 class="persona-content-title">Exploitant</h3>
   								<ul class="persona-content-list">
   									<li class="persona-content-list-item">Suivi temps-réel</li>
   									<li class="persona-content-list-item">Rejeu complet</li>
   									<li class="persona-content-list-item">Données statistiques</li>
   								</ul>
   								<a href="" class="persona-content-link"></a>
   							</div>
   						</li>
   						<li class="persona passenger">
   							<header class="persona-header">
   								<img src="{{ site.baseurl }}/assets/img/passenger.png" alt="Voyageur" class="persona-header-img">
   							</header>
   							<div class="persona-content">
   								<h3 class="persona-content-title">Voyageur</h3>
   								<ul class="persona-content-list">
   									<li class="persona-content-list-item">Vision en temps réel</li>
   									<li class="persona-content-list-item">Informations instantanées</li>
   									<li class="persona-content-list-item">Application gratuite</li>
   								</ul>
   								<a href="" class="persona-content-link"></a>
   							</div>
   						</li>
   						<li class="persona driver">
   							<header class="persona-header">
   								<img src="{{ site.baseurl }}/assets/img/driver.png" alt="Conducteur" class="persona-header-img">
   							</header>
   							<div class="persona-content">
   								<h3 class="persona-content-title">Conducteur</h3>
   								<ul class="persona-content-list">
   									<li class="persona-content-list-item">Prise de service simple</li>
   									<li class="persona-content-list-item">Meilleur accueil</li>
   									<li class="persona-content-list-item">Coordination facilitée</li>
   								</ul>
   								<a href="" class="persona-content-link"></a>
   							</div>
   						</li>
   					</ul>
   				</div>
      		</section>
      		<section class="products">
      			<div class="products-tile tile">
      				<h2 class="tile-title">Des interfaces adaptées</h2>
      				<p class="tile-text">Chacun dispose d'applications distinctes avec une ergonomie pensée pour une utilisation efficace et sans contraintes.</p>
     					<footer class="products-tile-footer">
     						<a href="" class="products-tile-footer-link appstore"></a>
     						<a href="" class="products-tile-footer-link playstore"></a>
     					</footer>
      			</div>
      			<div id="dragContainer" class="products-container">
   					<ul class="products-container-showcase">
   						<li class="product app driver">
                        <div class="product-img">
                           <h3 class="product-title">Application Conducteur</h3>
                           <p class="product-text">Les conducteurs se connectent en toute simplicité à leur application Zenbus via leur smartphone</p>
                        </div>
   						</li>
   						<li class="product app passenger">
                        <div class="product-img">
                           <h3 class="product-title">Application Voyageur</h3>
                           <p class="product-text">Pour les voyageurs, l’application, accessible à tous et gratuite, permet de visualiser leurs bus de manière inédite.</p>
                        </div>
   						</li>
                     <li class="product app tad">
                        <div class="product-img">
                           <h3 class="product-title">TAD</h3>
                           <p class="product-text">La ligne de bus se déclenche à la demande ? Les voyageurs pourront réserver leur course directement sur Zenbus !</p>
                        </div>
                     </li>
   						<li class="product desktop supervision">
                        <div class="product-img">
                           <h3 class="product-title">Supervision Live</h3>
                           <p class="product-text">Pour les exploitants, des interfaces de supervision pour contrôler en temps-réel l'état du réseau de transport et faciliter la prise de décision</p>
                        </div>
                     </li>
                     <li class="product desktop timeline">
                        <div class="product-img">
                           <h3 class="product-title">Supervision a posteriori</h3>
                           <p class="product-text">Des interfaces pour analyser et s'assurer a posteriori du bon fonctionnement de l'offre de transport</p>
                        </div>
                     </li>
   					</ul>
      			</div>
      		</section>
      		<section class="statistics">
      			<div class="statistics-tile tile">
      				<h2 class="tile-title">Le saviez-vous ?</h2>
      				<p class="tile-text">Depuis sa création, Zenbus  collecte de nombreuses données de mobilité dont voici quelques illustrations parfois surprenantes !
      					<a href="" class="tile-text-link"></a>
      				</p>
      			</div>
      			<div class="statistics-content">
      				<header class="statistics-content-main">
      					<span class="statistics-content-main-title">[% numberWithSpaces(currentKms) %]</span>
      					<span class="statistics-content-main-text">kilomètres parcourus depuis le lancement de Zenbus</span>
      				</header>
   					<ul class="statistics-content-others">
   						<li class="stat">
   							<img src="{{ site.baseurl }}/assets/img/stat_flag.png" alt="stat icon" class="stat-img">
   							<span class="stat-metric">[%accounts.length%]</span>
   							<span class="stat-description">réseaux déployés</span>
   						</li>
   						<li class="stat">
   							<img src="{{ site.baseurl }}/assets/img/stat_flag.png" alt="stat icon" class="stat-img">
   							<span class="stat-metric">5811</span>
   							<span class="stat-description">arrêts desservis</span>
   						</li>
   						<li class="stat">
   							<img src="{{ site.baseurl }}/assets/img/stat_flag.png" alt="stat icon" class="stat-img">
   							<span class="stat-metric">-42<small>%</small></span>
   							<span class="stat-description">de rendez-vous ratés</span>
   						</li>
   						<li class="stat">
   							<img src="{{ site.baseurl }}/assets/img/stat_flag.png" alt="stat icon" class="stat-img">
   							<span class="stat-metric">12</span>
   							<span class="stat-description">ulcères évités</span>
   						</li>
   					</ul>
      			</div>
      		</section>
            
    			
				</div>