<footer class="footer">
               <div class="footer-part social">
                  <h4 class="footer-part-title">{{ site.data["strings"].footer.follow_us }}</h4>
                  <div class="footer-part-text">
                     <a href="https://www.facebook.com/ZenBusApp/" target="_blank" class="social-img fb"></a>
                     <a href="https://twitter.com/zenbus" target="_blank" class="social-img tw"></a>
                     <a href="https://www.linkedin.com/company/zenbus/" target="_blank" class="social-img in"></a>
                  </div>
               </div>
   				<div class="footer-part subscribe">
   					<h4 class="footer-part-title">{{ site.data["strings"].footer.keep_in_touch }}</h4>
   					<form class="subscribe-form" name="newsletter_form" :class="{'email-sent': newsletterSent, 'form-error': errors.newsletter.length != 0}" v-on:submit.prevent="sendDatasToSheet('newsletter')" method="post" action="">
   						<span v-if="errors.newsletter.length" class="subscribe-form-error">{{ site.data["strings"].footer.error_email }}</span>
   						<input type="email" class="subscribe-form-input" placeholder="Email" name="email" v-model="dataFromForms.newsletter.email" v-on:blur="newsletterSent = false">
   						<button type="submit" class="subscribe-form-submit" :disabled="newsletterSent"></button>
   					</form>
						<p class="footer-part-text">{{ site.data["strings"].footer.policy }}</p>
   				</div>
   				<div class="footer-part contact">
   					<h4 class="footer-part-title">{{ site.data["strings"].footer.contact }}</h4>
   					<p class="footer-part-text">
                     <a v-on:click="mailto" class="footer-part-text-link">contact@zenbus.fr</a>
                     <a href="https://www.google.com/maps/place/10+Rue+Coquilli%C3%A8re,+75001+Paris/@48.8636194,2.3413656,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e225fca0495:0x195c385c2ca51f6a!8m2!3d48.8636194!4d2.3435543" target="_blank" class="footer-part-text-link">10, rue Coquillère - 75001 Paris</a>
                     <a href="https://www.google.com/maps/place/92+Quai+de+la+Fosse,+44100+Nantes/@47.2081266,-1.5727794,17z/data=!4m13!1m7!3m6!1s0x4805ec08ac19a1d9:0x72814c3217221e2e!2s92+Quai+de+la+Fosse,+44100+Nantes!3b1!8m2!3d47.208123!4d-1.5705907!3m4!1s0x4805ec08ac19a1d9:0x72814c3217221e2e!8m2!3d47.208123!4d-1.5705907" target="_blank" class="footer-part-text-link">92, quai de la Fosse - 44000 Nantes</a>
                     <a href="tel:+33987361246" class="footer-part-text-link">+33 9 87 36 12 46</a>
                  </p>
   				</div>
   				<div class="footer-part links">
   					<h4 class="footer-part-title">ZENBUS</h4>
   					<p class="footer-part-text">
   						<!-- <a href="" class="footer-part-text-link">Presse</a>
   						<a href="" class="footer-part-text-link">Recrutement</a> -->
   						<a href="/mentions.html" target="_blank" class="footer-part-text-link">{{ site.data["strings"].footer.mentions }}</a>
   						<a href="/mentions.html#cgu" target="_blank" class="footer-part-text-link">{{ site.data["strings"].footer.cgu }}</a>
   						<a href="https://doc-dot-zenbussurvey.appspot.com/more/faq.html" target="_blank" class="footer-part-text-link">{{ site.data["strings"].footer.faq }}</a>
   						<a href="/mentions.html#donnees" target="_blank" class="footer-part-text-link">{{ site.data["strings"].footer.datas }}</a>
   					</p>
   				</div>
   				<div class="footer-part download">
   					<a href="https://itunes.apple.com/fr/app/zenbus/id808231328" target="_blank" class="download-link appstore"></a>
   					<a href="https://play.google.com/store/apps/details?id=com.byjoul.code.zenbus.android" target="_blank" class="download-link playstore"></a>
   				</div>
      			<div class="footer-sub">
                  <div class="footer-sub-language">
                     {% for tongue in site.languages %}
								<a class="language-item{% if tongue == site.active_lang %} active{% endif %}" href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ site.languages_display[tongue] }}</a>
							{% endfor %}
                  </div>
                  <span class="footer-sub-copyright">{{ site.data["strings"].footer.copyrights }}</span>
               </div>
      		</footer>