<div class="loader-container">
            <div class="loader">
               <div class="bus-main">
                  <span class="bus-main-glass"></span>
                  <span class="bus-main-glass"></span>
                  <span class="bus-main-glass"></span>
                  <span class="bus-main-glass"></span>
                  <span class="bus-main-logo">
                    <span class="bus-main-logo-glass"></span>
                    <span class="bus-main-logo-light left"></span>
                    <span class="bus-main-logo-light right"></span>
           		  </span>
                  <span class="wheel-shadow1"></span>
                  <span class="wheel-shadow2"></span>
               </div>
               <div class="wheel1">
                  <span class="wheel-details"></span>
                  <span class="wheel-details"></span>
                  <span class="wheel-details"></span>
                  <span class="wheel-details"></span>
               </div>
               <div class="wheel2">
                  <span class="wheel-details"></span>
                  <span class="wheel-details"></span>
                  <span class="wheel-details"></span>
                  <span class="wheel-details"></span>
               </div>
               <div class="shadow"></div>
            </div>
         </div>