<button id="burgerButton" class="panel-hamburger"></button>
<nav id="panel" class="panel">
	<header class="panel-logo">
		<img src="{{ site.baseurl }}/assets/img/zenbus_logo@2x.png" alt="logo zenbus" class="panel-logo-img">
	</header>
	<menu class="panel-menu">
		<li class="panel-menu-item home{% if page.permalink == '/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/" class="panel-menu-item-text">{{ site.data["strings"].nav.home }}</a>
		</li>
		<li class="panel-menu-item collectivity{% if page.permalink == '/operators/' or page.permalink == '/transport-authorities/' %} sub-active{% endif %}">
			<button class="panel-menu-item-text">{{ site.data["strings"].nav.customers }}</button>
			<ul class="collectivity-submenu">
				<li class="panel-menu-item transport-authorities{% if page.permalink == '/transport-authorities/' %} active{% endif %}">
					<a href="{{ site.baseurl }}/transport-authorities/" class="panel-menu-item-text">{{ site.data["strings"].nav.ao }}</a>
				</li>
				<li class="panel-menu-item operators{% if page.permalink == '/operators/' %} active{% endif %} inactive">
					<a href="{{ site.baseurl }}/operators/" class="panel-menu-item-text">{{ site.data["strings"].nav.operators }}</a>
				</li>
			</ul>
		</li>
		<li class="panel-menu-item passenger{% if page.permalink == '/passengers/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/passengers/" class="panel-menu-item-text">{{ site.data["strings"].nav.passengers }}</a>
		</li>
		<li class="panel-menu-item blog{% if page.url contains 'blog' %} active{% endif %}">
			<a href="{{ site.baseurl }}/blog/" class="panel-menu-item-text">{{ site.data["strings"].nav.blog }}</a>
		</li>
		<li class="panel-menu-item team{% if page.permalink == '/team/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/team/" class="panel-menu-item-text">{{ site.data["strings"].nav.team }}</a>
		</li>
		<li class="panel-menu-item contact{% if page.permalink == '/contact/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/contact/" class="panel-menu-item-text">{{ site.data["strings"].nav.contact }}</a>
		</li>
		<li class="panel-menu-item recruit{% if page.permalink == '/job/' %} active{% endif %}">
			<a href="{{ site.baseurl }}/job/" class="panel-menu-item-text">{{ site.data["strings"].nav.recruit }}</a>
		</li>
	</menu>
</nav>
	