<nav class="panel">
      	  
      		<header class="panel-logo">
      			<img src="{{ site.baseurl }}/assets/img/zenbus_logo.png" alt="" class="panel-logo-img">
      		</header>
      		
      		<menu class="panel-menu">
      			<li class="panel-menu-item home{% if page.url == '/' %} active{% endif %}">
      				<a href=" /" class="panel-menu-item-text">home</a>
      			</li>
      			<li class="panel-menu-item collectivity">
      				<a href="" class="panel-menu-item-text">collectivités</a>
      			</li>
      			<li class="panel-menu-item operators">
      				<a href="" class="panel-menu-item-text">exploitants</a>
      			</li>
      			<li class="panel-menu-item passenger">
      				<a href="" class="panel-menu-item-text">voyageurs</a>
      			</li>
      			<li class="panel-menu-item blog{% if page.url contains 'blog' %} active{% endif %}">
      				<a href="" class="panel-menu-item-text">blog</a>
      			</li>
      			<li class="panel-menu-item team">
      				<a href="" class="panel-menu-item-text">équipe</a>
      			</li>
      			<li class="panel-menu-item contact">
      				<a href="contact.html" class="panel-menu-item-text">contact</a>
      			</li>
      		</menu>
      		
      	</nav>