/*TODO integrate this css in sass folder*/

#searchResult > li > span{
	padding: 0 10px;
   display: block;
   text-transform: uppercase;
   font-size: 12px;
   line-height: 30px;
   font-weight: bold;
   background-color: #f5f6f7
}

#searchResult > li > ul{
	padding: 0 20px
}

.filters-search-results{
	padding : 10px 0;
}