{% assign auth = site.data["authors"] | where: "id", include.resp %}
{% assign a = auth | first %}
<section class="job-section {{ include.id }}">
	<header class="job-section-header">
		<h1>{{ site.data["strings"].job[include.id].team_title }}</h1>
	</header>
	<aside class="job-section-author">
		<img src="{{ baseurl }}/assets/img/authors/{{ a.photo }}" alt="" class="job-section-author-img">
	</aside>
	<div class="job-section-content">
		<p class="job-section-content-text">
			{{ site.data["strings"].job[include.id].team_text }}
			
			{% if include.jobs != null %}
			<span>Voici nos offres : 
				{% for job in include.jobs %}
					<a href="{{ job.url }}">{{ job.title }}</a>, 
				{% endfor %}
				
			</span>
			{% else %}
			<span>Il n'y a pas d'offres pour le moment mais toutefois si l'entreprise te ressemble et que travailler chez nous te motive, </span>
			{% endif %}
			
			<span> n'hésite pas à nous transmettre <a onclick="mailto()">ta candidature</a>.
			</span>
		</p>
		<div class="job-section-content-signature">
			<span>{{ a.firstname }}</span>
			<span>{{ a.role }}</span>
		</div>
	</div>
</section>