<div class="member">
	<div class="member-polaroid">
		<img src="{{ baseurl }}/assets/img/authors/{{ include.photo }}" alt="" class="member-polaroid-picture">
		<img src="{{ baseurl }}/assets/img/authors/{{ include.photo_fun }}" alt="" class="member-polaroid-picture">
		<div class="member-polaroid-infos">
			<p class="author-status">
				<span class="author-status-name">{{ include.name }}</span>
				<span class="author-status-role">{{ include.role }}</span>
			</p>
		</div>
	</div>
	<div class="member-description">
		<p class="member-description-text">
			
		</p>
	</div>
</div>