<div class="team-members-member">
	<div class="member-polaroid">
		<div class="member-polaroid-img">
			<img src="{{ baseurl }}/assets/img/authors/{{ include.photo }}" alt="" class="serious">
			<img src="{{ baseurl }}/assets/img/authors/{{ include.photo_fun }}" alt="" class="fun">
		</div>
		<div class="member-polaroid-infos">
			<p class="infos-member">
				<span class="infos-member-name">{{ include.name }}</span>
				<span class="infos-member-role">{{ include.role }}</span>
			</p>
		</div>
	</div>
	<div class="member-description">
		<p class="member-description-text">
			{{ include.presentation }}
		</p>
		{% if include.linkedin != null %}
		<a href="{{ include.linkedin }}" target="_blank"></a>
		{% endif %}
	</div>
</div>