<article class="presshistory-articles-card">
	<header class="presshistory-articles-card-header" style="background-image:url('{{ baseurl }}/assets/img/press/{{ include.image }}')">
		<a href="{{ include.url }}"></a>
	</header>
	<div class="presshistory-articles-card-content">
		<a href="{{ include.url }}" class="presshistory-title">{{ include.title }}</a>
		<div class="presshistory-published">{{ include.published }}</div>
		<div class="presshistory-paper">{{ include.paper }}</div>
	</div>
</article>