---
title: press
layout: page
permalink: /press/
---

<section class="content-container presshistory">
	<header class="presshistory-back">
		<a class="presshistory-back-link" href="{{ site.baseurl }}/">{{ site.data["strings"].homepage.back_to_home }}</a>
	</header>
	
	<div class="presshistory-articles">
	{% assign articles = site.data["press"] | sort: 'published' | reverse %}
	{% for article in articles %}
		{% include components/press-card.html
			image=article.image
			title=article.title
			paper=article.press
			published=article.published
			link=article.link %}
	
	{% endfor %}
	</div>
</section>