---
title: recruit
layout: page
permalink: /recruit/
---

<section class="content-container presshistory">
	<header class="headerback">
		<a class="headerback-link" href="{{ site.baseurl }}/#press"></a>
	</header>
	
	<div class="presshistory-articles">
	{% assign articles = site.data["press"] | sort: 'published' | reverse %}
	{% for article in articles %}
		{% include components/press-card.html
			image=article.image
			title=article.title
			paper=article.press
			published=article.published
			link=article.link %}
	
	{% endfor %}
	</div>
</section>