---
layout: page
title: Equipe
permalink: /team/
lang: fr
---
<div class="content-container team">
	<div class="classic-tile tile">
		<h2 class="tile-title">Aloha!</h2>
		<p class="tile-text">L'équipe Zenbus, ce sont des ingénieurs pointus, des développeurs extrêmes, des commerciaux aguerris, des créatifs, des curieux, des psychorigides, des désordonnés, des musiciens, des écrivains, des sportifs, des Suisses, des Belges, des Nantais, des Parisiens... mais c'est avant tout une équipe dynamique et ambitieuse qui cherche à révolutionner la mobilité. Depuis sa création en 2011 et moult pivots, la petite équipe de vaillants guerriers compte aujourd'hui plus de vingt personnes.</p>
	</div>
	<div class="team-members">
		{% assign authors = site.data["authors"] | sort: 'arrival_date' %}
		{% for author in authors %}
		{% include components/polaroid.html
					  name=author.name
					  role=author.role
					  photo=author.photo
					  photo_fun=author.photo_fun
					  presentation=author.presentation
					  linkedin=author.linkedin %}
		{% endfor %}
		
		<div class="team-members-member">
			<div class="member-polaroid">
				<div class="member-polaroid-img">
					<img src="{{ baseurl }}/assets/img/authors/you.jpg" alt="" class="serious">
					<img src="{{ baseurl }}/assets/img/authors/you_fun.jpg" alt="" class="fun">
				</div>
				<div class="member-polaroid-infos">
					<p class="infos-member">
						<span class="infos-member-name">Toi ?</span>
						<span class="infos-member-role">Zenbus Recrute !</span>
					</p>
				</div>
			</div>
			<div class="member-description">
				<p class="member-description-text">
					
				</p>
			</div>
		</div>
	</div>
</div>