---
layout: page
title: team
permalink: /team/
---
<div class="content-container team">
	<div class="team-tile">
		<h2 class="team-tile-title">{{ site.data["strings"].team.tile_title }}</h2>
		<p class="team-tile-text">{{ site.data["strings"].team.tile_text }}</p>
	</div>
	<div class="team-members">
		{% assign authors = site.data["authors"] | sort: 'arrival_date' %}
		{% for author in authors %}
		{% include components/polaroid.html
					  firstname=author.firstname
					  role=author.role
					  photo=author.photo
					  photo_fun=author.photo_fun
					  presentation=author.presentation
					  linkedin=author.linkedin %}
		{% endfor %}
		
		<div class="team-members-member">
			<div class="member-polaroid">
				<div class="member-polaroid-img">
					<img src="https://media.giphy.com/media/1d7E5ogkVOdY4yiMPY/giphy.gif" alt="">
				</div>
				<div class="member-polaroid-infos">
					<p class="infos-member">
						<span class="infos-member-name">{{ site.data["strings"].team.what_if }}</span>
						<span class="infos-member-role">{{ site.data["strings"].team.we_recruit }}</span>
					</p>
				</div>
			</div>
			<div class="member-description you">
				<p class="member-description-text">
					{{ site.data["strings"].team.description_job }}
					<a href="https://storage.googleapis.com/zenbus-files/Fichedeposte-CommercialB2B.pdf" target="_blank" class="you-link">{{ site.data["strings"].team.job1 }}</a>
					<a href="http://storage.googleapis.com/zenbus-files/OffreEmploi-zenbus.pdf" target="_blank" class="you-link">{{ site.data["strings"].team.job2 }}</a>
				</p>
			</div>
		</div>
	</div>
</div>