<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

	{% include head.html %}
   
   <body>
   	{% assign lang = site.active_lang %}
   	<div>
			{% include nav.html %}
			<section class="blog-container">
				<header class="blog-header">
					<form class="blog-header-search">
						<input type="search" class="blog-header-search-input" placeholder="{{ site.data['strings'].search_placeholder }}">
					</form>
					<nav class="blog-header-categories">
						<ul>
							{% assign pages_list = site.pages %}
							{% for node in pages_list %}
								{% if node.cat-name %}
									<li class="categories-item {{ node.cat-name }}{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url }}">{{ site.data["strings"].categories[node.cat-name].display_name }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</nav>
				</header>
				<div class="blog-articles">
					{% if page.cat-name != "all" %}
					{% for post in site.posts %}
					{% if post.categories contains page.cat-name %}
						{% include components/post-card.html
									  categories=post.categories
									  image=post.image
									  title=post.title
									  author=post.author
									  date=post.date
									  url=post.url
									  excerpt=post.excerpt %}
					{% endif %}
					{% endfor %}
					{% else %}
					{% for post in site.posts %}
						{% include components/post-card.html
									  categories=post.categories
									  image=post.image
									  title=post.title
									  author=post.author
									  date=post.date
									  url=post.url
									  excerpt=post.excerpt %}
					{% endfor %}
					{% endif %}
				</div>
			</section>
			{% include footer.html %}
   	</div>
   	{% include loader.html %}
   	<script src="{{ site.baseurl }}/assets/js/footer.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/menu.min.js"></script>
   </body>
</html>