<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

	{% include head.html %}
   
   <body>
   	{% assign lang = site.active_lang %}
   	<div id="app">
   		<button class="panel-hamburger" v-on:click="showPanel= !showPanel" v-bind:class="{'show-panel':showPanel}"></button>

			{% include nav.html %}
			
			<div class="article-container">
				<header>
					<a href="{{ baseurl }}/blog/">{{ site.data["strings"].back_to_articles }}</a>
				</header>
				
				<article class="article">
					<div class="article-infos">
						
						<h1 class="article-infos-title">{{ page.title }}</h1>
						
						<div class="article-infos-author">
							<img src="{{ baseurl }}/assets/img/authors/{{ site.data['authors'][page.author].photo }}" alt="" class="author-picture">
							
							<p class="author-status">
								<span class="author-status-prefix">{{ site.data["strings"].written_by }} </span>
								<span class="author-status-name">{{ site.data["authors"][page.author].name }} - {{ site.data["authors"][page.author].role }}</span>
								<span class="author-status-date">{{ site.data["strings"].the_date }} {{ page.date | date: "%d/%m/%Y" }}</span>
							</p>
							
							<ul class="article-categories">
								{% for cat in page.categories %}
								<li class="article-categories-item {{ cat }}"><a href="{{ baseurl }}/blog/{{ cat }}/">{{ site.data["strings"].categories[cat].display_name }}</a></li>
								{% endfor %}
							</ul>
							
						</div>
						
					</div>

					<div class="article-content">
						<header class="article-content-banner" style="background-image:url('{{ baseurl }}/assets/img/blog/{{ page.image }}')"></header>
						
						<div class="article-content-text">
							{{ content }}
						</div>
						
					</div>
					
				</article>
				
			</div>
			{% include footer.html %}
   	</div>
   	{% include loader.html %}
   	<script src="{{ site.baseurl }}/assets/js/index.min.js"></script>
   </body>
   
</html>