<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

	{% include head.html %}
   
   <body>
   	{% assign auth = site.data["authors"] | where: "id", page.author %}
   	<div id="app">
			{% include nav.html %}
			<div class="content-container">
				<header class="article-back">
					<a class="article-back-link" href="{{ baseurl }}/blog/">{{ site.data["strings"].back_to_articles }}</a>
				</header>
				
				<article class="article">
					{% for a in auth %}
					<div class="article-infos">
						
						<h1 class="article-infos-title">{{ page.title }}</h1>
						
						<div class="article-infos-author">
							<img src="{{ baseurl }}/assets/img/authors/{{ a.photo }}" alt="" class="author-picture">
							
							<p class="author-status">
								<span class="author-status-prefix">{{ site.data["strings"].written_by }} </span>
								<span class="author-status-name">{{ a.name }} - {{ a.role }}</span>
								<span class="author-status-date">{{ site.data["strings"].the_date }} {{ page.date | date: "%d/%m/%Y" }}</span>
							</p>
							
							<ul class="article-categories">
								{% for cat in page.categories %}
								<li class="article-categories-item {{ cat }}"><a href="{{ baseurl }}/blog/{{ cat }}/">{{ site.data["strings"].categories[cat].display_name }}</a></li>
								{% endfor %}
							</ul>
							
						</div>
						
					</div>

					<div class="article-content">
						<header class="article-content-banner" style="background-image:url('{{ baseurl }}/assets/img/blog/{{ page.image }}')"></header>
						
						<div class="article-content-text">
							{{ content }}
						</div>
						
					</div>
					{% endfor %}
				</article>
				
			</div>
			{% include footer.html %}
   	</div>
   	{% include loader.html %}
   	<script src="{{ site.baseurl }}/assets/js/footer.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/menu.min.js"></script>
   </body>
   
</html>