<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

	{% include head.html %}
   
   <body>
   	{% assign lang = site.active_lang %}
   	<div>
			{% include nav.html %}
			<section class="content-container blog">
				<header class="blog-header">
					<form class="blog-header-search">
						<input type="search" class="blog-header-search-input" placeholder="{{ site.data['strings'].search_placeholder }}">
					</form>
					<nav class="blog-header-categories">
						<ul>
							{% assign pages_list = site.pages %}
							{% for node in pages_list %}
								{% if node.cat-name %}
									<li class="categories-item {{ node.cat-name }}{% if page.url == node.url %} active{% endif %}"><a href="{{ node.url }}">{{ site.data["strings"].categories[node.cat-name].display_name }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</nav>
				</header>
				<div class="blog-articles">
					{% if page.cat-name != "all" %}
					{% for post in site.posts %}
					{% if post.categories contains page.cat-name %}
						{% include components/post-card.html
									  categories=post.categories
									  image=post.image
									  title=post.title
									  author=post.author
									  date=post.date
									  url=post.url
									  excerpt=post.excerpt %}
					{% endif %}
					{% endfor %}
					{% else %}
					{% for post in site.posts %}
						{% include components/post-card.html
									  categories=post.categories
									  image=post.image
									  title=post.title
									  author=post.author
									  date=post.date
									  url=post.url
									  excerpt=post.excerpt %}
					{% endfor %}
					{% endif %}
				</div>
			</section>
			{% include footer.html %}
   	</div>
   	{% include loader.html %}
   	<script src="{{ site.baseurl }}/assets/js/footer.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/menu.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/dev-harpoon.js"></script>
		<script type="text/javascript">
			_linkedin_partner_id = "564588";
			window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
			window._linkedin_data_partner_ids.push(_linkedin_partner_id);
			</script><script type="text/javascript">
			(function(){var s = document.getElementsByTagName("script")[0];
			var b = document.createElement("script");
			b.type = "text/javascript";b.async = true;
			b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
			s.parentNode.insertBefore(b, s);})();
		</script>
		<noscript>
			<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=564588&fmt=gif" />
		</noscript>
   </body>
</html>