<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

	<head>
   	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <link rel="stylesheet" type="text/css" href="{{ site.basurl }}/assets/css/showcase.css">
      <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700|Lato:300,400,700,900" rel="stylesheet">
   	<title>
   		{% if page.title == "Home" %}
				{{ site.title }} &middot; {{ site.tagline }}
			{% else %}
				{{ page.title }} &middot; {{ site.title }}
		 	{% endif %}
	   </title>
   	
   	<!-- Vue -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>

		<!-- i18n -->
		<script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>

		<!-- Analytics -->
		<script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-48957810-1']);
            _gaq.push(['_setDomainName', 'zenbus.fr']);
            _gaq.push(['_setAllowLinker', true]);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            
            
       </script> 
   </head>
   
   <body>
   	{% assign lang = site.active_lang %}
   	<div id="app">
   		<button class="panel-hamburger" v-on:click="showPanel= !showPanel" v-bind:class="{'show-panel':showPanel}"></button>

			{% include nav.html %}
			
			<div class="article-container">
				<header>
					<a href="{{ baseurl }}/blog/">{{ site.data["strings"].back_to_articles }}</a>
				</header>
				
				<article class="article">
					<div class="article-infos">
						
						<h1 class="article-infos-title">{{ page.title }}</h1>
						
						<div class="article-infos-author">
							<img src="{{ baseurl }}/assets/img/authors/{{ site.data['authors'][page.author].photo }}" alt="" class="author-picture">
							
							<p class="author-status">
								<span class="author-status-prefix">{{ site.data["strings"].written_by }} </span>
								<span class="author-status-name">{{ site.data["authors"][page.author].name }} - {{ site.data["authors"][page.author].role }}</span>
								<span class="author-status-date">{{ site.data["strings"].the_date }} {{ page.date | date: "%d/%m/%Y" }}</span>
							</p>
							
							<ul class="article-categories">
								{% for cat in page.categories %}
								<li class="article-categories-item {{ cat }}"><a href="{{ baseurl }}/blog/{{ cat }}/">{{ site.data["strings"].categories[cat].display_name }}</a></li>
								{% endfor %}
							</ul>
							
						</div>
						
					</div>

					<div class="article-content">
						<header class="article-content-banner" style="background-image:url('{{ baseurl }}/assets/img/blog/{{ page.image }}')"></header>
						
						<div class="article-content-text">
							{{ content }}
						</div>
						
					</div>
					
				</article>
				
			</div>
			{% include footer.html %}
   	</div>
   	<script src="{{ site.baseurl }}/assets/js/index.min.js"></script>
   </body>
   
</html>