<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

	{% include head.html %}
   
   <body>
   	{% assign lang = site.active_lang %}
   	<div>
			{% include nav.html %}
			{{ content }}
			{% include footer.html %}
   	</div>
   	{% include loader.html %}
		<script src="{{ site.baseurl }}/assets/js/dev-harpoon.js"></script>
   	<script src="{{ site.baseurl }}/assets/js/footer.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/menu.min.js"></script>
		{% if page.permalink == "/contact/" %}
			<script src="{{ site.baseurl }}/assets/js/contact.min.js"></script>
		{% endif %}
		
		{% if page.permalink == "/team/" %}
			<script src="{{ site.baseurl }}/assets/js/team.min.js"></script>
		{% endif %}
		
		{% if page.permalink == "/passengers/" %}
			<script src="{{ site.baseurl }}/assets/js/datas.js"></script>
			<script src="{{ site.baseurl }}/assets/js/passengers.js"></script>
		{% endif %}
		
		{% if page.permalink == "/transport-authorities/" or page.permalink == "/operators/" %}
			<script src="{{ site.baseurl }}/assets/js/customer.js"></script>
		{% endif %}
		<script type="text/javascript">
			_linkedin_partner_id = "564588";
			window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
			window._linkedin_data_partner_ids.push(_linkedin_partner_id);
			</script><script type="text/javascript">
			(function(){var s = document.getElementsByTagName("script")[0];
			var b = document.createElement("script");
			b.type = "text/javascript";b.async = true;
			b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
			s.parentNode.insertBefore(b, s);})();
		</script>
		<noscript>
			<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=564588&fmt=gif" />
		</noscript>
   </body>
</html>