<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">

	{% include head.html %}
   
   <body>
   	{% assign lang = site.active_lang %}
   	<div>
			{% include nav.html %}
			{{ content }}
			{% include footer.html %}
   	</div>
   	{% include loader.html %}
		<script src="{{ site.baseurl }}/assets/js/dev-harpoon.js"></script>
   	<script src="{{ site.baseurl }}/assets/js/footer.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/menu.min.js"></script>
		{% if page.permalink == "/contact/" %}
			<script src="{{ site.baseurl }}/assets/js/contact.min.js"></script>
		{% endif %}
		
		{% if page.permalink == "/team/" %}
			<script src="{{ site.baseurl }}/assets/js/team.min.js"></script>
		{% endif %}
		
		{% if page.permalink == "/passengers/" %}
			<script src="{{ site.baseurl }}/assets/js/datas.js"></script>
			<script src="{{ site.baseurl }}/assets/js/passengers.js"></script>
		{% endif %}
		
		{% if page.permalink == "/transport-authorities/" || page.permalink == "/operators/" %}
			<script src="{{ site.baseurl }}/assets/js/customer.js"></script>
		{% endif %}
		
   </body>
</html>